# Development
.vscode/
.DS_Store

# Python
*.pyc
__pycache__/
*.egg-info/

.tox/
build/

examples/05_optimizing_qed_using_latent_space_bo/VAESelfies_TINY-CID-SELFIES-20_latent_dim_2.pt
examples/07_optimizing_logp_on_chembl/VAE_CHEMBL.pt
examples/08_pymoo_nsga_ii_on_foldx/history.json
examples/09_replicating_nsga_ii_of_lambo_by_hand/pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/raw_pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/repaired_pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/pHs.json
examples/09_replicating_nsga_ii_of_lambo_by_hand/history/
examples/09_replicating_nsga_ii_of_lambo_by_hand/history.json
