# Development
.vscode/
.DS_Store
oracle/
tmp/

# Python
*.pyc
__pycache__/
*.egg-info/

.tox/
build/
oracle/
dist/

examples/05_optimizing_qed_using_latent_space_bo/VAESelfies_TINY-CID-SELFIES-20_latent_dim_2.pt
examples/06_running_lambo2_on_rasp/directed_evolution_rasp*.npz
examples/07_optimizing_logp_on_chembl/VAE_CHEMBL.pt
examples/08_pymoo_nsga_ii_on_foldx/history.json
examples/09_replicating_nsga_ii_of_lambo_by_hand/pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/raw_pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/repaired_pdbs
examples/09_replicating_nsga_ii_of_lambo_by_hand/pHs.json
examples/09_replicating_nsga_ii_of_lambo_by_hand/history/
examples/09_replicating_nsga_ii_of_lambo_by_hand/history.json
examples/06_running_lambo2_on_rasp/*.npz
examples/07_running_lambo2_on_foldx/tmp/
examples/07_running_lambo2_on_foldx/*.csv
examples/07_running_lambo2_on_foldx/lambo2_trace.npz
examples/ignore*

# BAxUS related stuff
conf_dict.json
projectors.txt.xz
length_history.txt.xz
final_target_dim.txt.xz
lengthscales.txt.xz
split_points.txt.xz
splitting_dims.txt.xz
tr_centers.txt.xz
model_history.zip

# bounce results
bounce_results/

# lightning logs and lambo2-related assets
lightning_logs/
.cache/